/* general styles */
body {
  color: #2e2e2e;
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* link styles */
a {
  text-decoration: none;
  color: #00a9d9;
}
a:hover {
  text-decoration: underline;
}


/* main nav styles */
.main-nav {
  width: 100%;
}
.main-nav a {
  font-size: 2em;
  font-weight: 1em;
}
.main-nav ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: row;
  justify-content: space-around;
}

/* terminal-esque top bar */
#intro {
  background: #1e1e1e;
  font-family: "Courier New", Courier;
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-header {
  color: hotpink;
  font-size: 3em;
}
.prompt {
  color: #9932CC;
}


.main-content{
  background: #ffffff;
  min-height: 40vh;
  max-width: 1000px;
  padding: 5px 40px;
  margin-bottom: 20px;
}

.main-content section {
  padding-top: 10px;
}

/*#profile {
  text-align: center;
}
#profile img {
  width: 100%;
  max-width: 500px;
  margin: auto 0;
  height: auto;
}*/

/* gallery of project photos */
.gallery {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  overflow: hidden;
}

.gallery figure {
  margin: 0 10px 0 0;
}

.gallery figcaption {
  text-align: center;
}

.workout-app img {
  height: 250px;
}
.pixel-perfect img {
  height: 300px;
}
.charlottes-website img {
  width: 200px;
}

/* mobile responsiveness */
@media screen and (max-width:550px) {
  .main-header {
    font-size: 2em;
  }
  body {
    align-items: stretch;
  }
  .gallery img {
    width: 100%;
    height: auto;
  }
  .main-nav ul {
    align-items: center;
    flex-direction: column;
  }
}
